.navbar{
    --bs-navbar-color: antiquewhite;
    --bs-nav-link-hover-color:  antiquewhite;
}


.nav-link
{
    font-size:1.25em;
    border-radius: 20%;
}

.nav-link.active, .nav-link ::hoover
{
    color: antiquewhite!important;
    background-color: rgba(250, 235, 215, 0.109);
}

.glitch-text {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    color: #fff;
    animation: glitch 2s infinite;
}

.glitch-text::before,
.glitch-text::after {
    content: 'Chiara s';
    position: absolute;
    top: 0;
    left: 0;
    color: #ff6f61;
    background: transparent;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    animation: glitch 2s infinite;
}

.glitch-text::after {
    color: #ff6f61;
    clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0 100%);
}

@keyframes glitch {
    0%, 100% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(2px, -2px);
    }
    60% {
        transform: translate(-1px, 1px);
    }
    80% {
        transform: translate(1px, -1px);
    }
}